@charset "utf-8";
/* CSS Document */
#poi_div{
    position: absolute;
    bottom: 50px;
    height: 112px;
    width: 100%;
    background-color: #FFF;
    z-index: 99999;
    text-align: center;
    visibility: visible;
    border-top: 2px solid #037B2F;
    -webkit-transition:all .5s;
    transition:all .5s;
    -webkit-backface-visibility: hidden;
}
#poi_div.shrink{
    height: 0;
}
.poi_divControl{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: -29px;
    left: 50%;
    margin-left: -64px;
}
.poi-page-prev,.poi-page-next,.poi-list-control{
    float: left;
    background-size: 320px 300px;
    background-color:rgba(255,255,255,0);
}
.poi-page-prev{
    width: 39px;
    height: 29px;
    background-position: 0 -58px;
}
.poi-page-next{
    width: 39px;
    height: 29px;
    background-position: -90px -58px;
}
.poi-list-control{
    width: 51px;
    height: 29px;
    background-position: -39px -58px;
}
.poi-page-prev.active{
    background-position: -130px -58px;
}
.poi-page-next.active{
    background-position: -220px -58px;
}
.poi-list-control.active{
    background-position: -169px -58px;
}
.poi-list-control.openList{
    background-position: 0px -264px;
    background-size: 324px 300px;
}
.poi-list-control.openList.active{
    background-position: -59px -263px;
    background-size: 324px 300px;
}
#poi-list{
    height: 100%;
}
#poi-list .tabsContent_table_content tr{
    height: 56px;
}
#poi-list .tabsContent_table_content td{
    background-color: #fff;
}
#poi-list .tabsContent_table_content td p.name{
    color: #000;
    font-weight: bold;
    font-size: 12px;
    margin: 2px 0 3px;
    height: 15px;
    overflow: hidden;
}
#poi-list .tabsContent_table_content td p.address{
    color: #465259;
    font-size: 10px;
    margin: 3px 0;
    height: 14px;
    overflow: hidden;
}
#poi-list .tabsContent_table_content td p.tel{
    color: #3780EE;
    font-size: 10px;
    margin: 2px 0;
    height: 14px;
    overflow: hidden;
}
.iconWap{
    display: inline-block;
    width: 35px;
    height: 50px;
}
.icons0,.icons1,.icons2,.icons3,.icons4,.icons5,.icons6,.icons7,.icons8,.icons9{
    background-size: 320px 300px;
}
#poi-list .tabsContent_table td.go{
    width: 30px;
    background-size: 320px 300px;
    background-position:-280px -50px;
}
.icons0{
    background-position: -215px -160px;
}
.icons1{
    background-position: -251px -160px;
}
.icons2{
    background-position: -287px -160px;
}
.icons3{
    background-position:-2px -205px;
}
.icons4{
    background-position: -38px -205px;
}
.icons5{
    background-position: -74px -205px;
}
.icons6{
    background-position: -110px -205px;
}
.icons7{
    background-position: -144px -205px;
}
.icons8{
    background-position: -179px -205px;
}
.icons9{
    background-position:-214px -211px;
}

@media screen and (max-height:356px) {
    #poi_div,#positioning,#zoom_in,#zoom_out {
        visibility: hidden;
    }
}
@media screen and (min-height:356px) {
    #poi_div,#positioning,#zoom_in,#zoom_out {
        visibility: visible;
    }
}
